{% extends "layouts.html" %}
{% block css %}

{% endblock %}
{% block content %}
<!-- Page -->
<div class="page animsition">
    <div class="page-header">
        <h1 class="page-title"># 金融贷款</h1>
    </div>
    <div class="page-content">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">@ 金融贷款列表</h3>
            </div>
            <ul class="nav nav-pills" style="margin-left: 25px;">
                <li role="presentation" {% if status == 0 %}class="active"{% endif %}><a href="/admin/loan/index/status/0">未读</a></li>
                <li role="presentation" {% if status == 1 %}class="active"{% endif %}><a href="/admin/loan/index/status/1">已读</a></li>

            <form action="/admin/loan/index/status/{{ status }}" method="POST">
        <div class="input-group" style="width: 250px;float: right;margin-right: 30px;">
          <input type="text" class="form-control" name="types" placeholder="贷款类型">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary"><i class="icon wb-search" aria-hidden="true"></i></button>
          </span>
        </div>
        <div class="input-group" style="width: 250px;float: right;margin-right: 30px;">
          <input type="text" class="form-control" name="phone" placeholder="请输入电话号码">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary"><i class="icon wb-search" aria-hidden="true"></i></button>
          </span>
        </div>
      </form>
       </ul>
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>姓名</th>
                        <th>联系电话</th>
                        <th>预计贷款费用</th>
                        <th>贷款类型</th>
                        <th>时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if data %}
                    {% for k,v in data %}
                    <tr>
                        <td>
                            {% if status == 4 %}
                            {% if v.type == 3 %}
                            <span class="text-danger">{隐藏}</span>
                            {% else %}
                            <span class="text-success">{展示}</span>
                            {% endif %}
                            {% endif %}
                        </td>

                        <td>{{ v.cname }}</td>
                        <td>{{ v.phone }}</td>
                        <td>{{v.money}}</td>
                        <td>
                         {% if v.type == 0%}

                        <span>抵押贷款</span>
                         {% elseif v.type == 1%}
                         <span>信用贷款</span>
                         {% else %}
                         <span>组合贷款</span>
                          {% endif %}



                        </td>
                        <td>{{ v.ctime|date("Y-m-d H:i") }}</td>
                        <td>
                        {% if v.status == 0 %}
                             <!-- <button type="button" class="btn btn-primary btn-xs" onclick="update_info({{ v.id }});">修改</button> -->
                            <button type="button" class="btn btn-primary btn-xs" onclick="status({{ v.id }});">已读</button>
                        {% elseif v.status == 1 %}
                              <button type="button" class="btn btn-default btn-xs" onclick="del_info({{ v.id }});">删除</button>
                            {% endif %}


                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="4">
                            <blockquote>
                                <p>暂无数据 :(</p>
                            </blockquote>
                        </td>
                    </tr>
                    {% endif %}
                    </tbody>
                </table>
                <div style="float: right;">
                    {% autoescape false %}
                    {{ page }}
                    {% endautoescape %}
                </div>

            </div>
        </div>
    </div>
</div>
<!-- End Page -->
{% endblock %}

{% block js %}
<script src="/apps/admin/views/loan/js/index.js"></script>
{% endblock %}