{% extends "layouts.html" %}
{% block css %}

{% endblock %}
{% block content %}
<!-- Page -->
<div class="page animsition">
  <div class="page-header">
    <h1 class="page-title"># 城市管理</h1>
  </div>
  <div class="page-content">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">@ 城市列表页面{% if cname %} -> [{{ cname }}] {% endif %}</h3>
      </div>
      <form action="/admin/city/index/id/{{ id }}" method="post">
        <div class="input-group" style="width: 300px;float: right;margin-right: 30px;">
          <input type="text" class="form-control" name="search" placeholder="请输入关键字">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary"><i class="icon wb-search" aria-hidden="true"></i></button>
          </span>
        </div>
      </form>
      <div class="panel-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>城市</th>
              <th>排序</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
          {% if data %}
          {% for k,v in data %}
            <tr>
              <td>
              {% if v.status == 1 %}
                <span class="text-danger">{禁用}</span>
              {% else %}
                <span class="text-success">{启用}</span>
              {% endif %}
              </td>
              <td>{{ v.cname }}</td>
              <td>{{ v.sort }}</td>
              <td>
                <button type="button" class="btn btn-primary btn-xs" onclick="addCity({{ v.id }});">添加下级</button>
                <button type="button" class="btn btn-primary btn-xs" onclick="listCity({{ v.id }});">下级列表</button>
                <button type="button" class="btn btn-primary btn-xs" onclick="edit({{ v.id }},{{ v.pid }});">修改</button>
                <button type="button" class="btn btn-default btn-xs" onclick="del({{ v.id }});">删除</button>
                {% if v.status == 1 %}
                  <button type="button" class="btn btn-success btn-xs" onclick="flag({{ v.id }},0);">启用</button>
                {% else %}
                  <button type="button" class="btn btn-danger btn-xs" onclick="flag({{ v.id }},1);">禁用</button>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
          {% else %}
            <tr>
              <td colspan="4">
                <blockquote>
                  <p>暂无数据 :(</p>
                </blockquote>
              </td>
            </tr>
          {% endif %}
          </tbody>
        </table>

          <div style="float: right;">
            {% autoescape false %}
              {{ page }}
            {% endautoescape %}
          </div>

      </div>
    </div>
  </div>
</div>
<!-- End Page -->
{% endblock %}
{% block js %}
<script src="/apps/admin/views/city/js/index.js"></script>
{% endblock %}