{% extends "layouts.html" %}
{% block css %}

{% endblock %}
{% block content %}
<!-- Page -->
<div class="page animsition">
  <div class="page-header">
    <h1 class="page-title"># 房屋管理</h1>
  </div>
  <div class="page-content">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">@ 房屋图片展示</h3>
      </div>
      <div class="panel-body">
        <div class="row">
        {% for k,v in data %}
          <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
              <img src="{{v}}">
            </a>
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Page -->
{% endblock %}
{% block js %}

{% endblock %}