{% extends "layouts.html" %}
{% block css %}

{% endblock %}
{% block content %}
<!-- Page -->
<div class="page animsition">
  <div class="page-header">
    <h1 class="page-title"># 房屋管理</h1>
  </div>
  <div class="page-content">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">@ 房屋详情展示</h3>
      </div>
      <div class="panel-body">
        <div class="row">
        <table style="font-size: 20px;">

          
          <br><tr>小区:：</tr><tr>{{ res.community }}</tr></br>
          <br><tr>面积:：</tr><tr>{{ res.area }}㎡</tr></br>
          <br><tr>房型:：</tr><tr>{{ res.house_type }}</tr></br>
          <br><tr>售价:：</tr><tr>{{ res.selling_price }}</tr></br>
          <br><tr>房屋类型:：</tr><tr>{{ res.htype }}</tr></br>
          <br><tr>朝向:：</tr><tr>{{ res.orientation }}</tr></br>
          <br><tr>学区房:：</tr><tr>{% if res.sdh ==0 %}是{% else %}否{% endif %} </tr></br>
          <br><tr>特价房:：</tr><tr>{% if v.spr ==0 %}是{% else %}否{% endif %}</tr></br>
          <br><tr>姓名:：</tr><tr>{{ res.cname }}</tr></br>
          <br><tr>联系电话:：</tr><tr>{{ res.phone }}</tr></br>
          <br><tr>时间:：</tr><tr>{{ ctime }}</tr></br>
          <br><tr>介绍:：</tr><tr>{{ res.introduce }}</tr></br>
          <br><tr>房屋图片:：</tr> <tr></tr>
          </br>
          <br><tr></tr>
            <tr>
                {% for k,v in data %}
                <div class="col-xs-6 col-md-3">
                  <a href="#" class="thumbnail">
                    <img src="{{v}}">
                  </a>
                </div>
              {% endfor %}
            </tr>
          </br>
        </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Page -->
{% endblock %}
{% block js %}

{% endblock %}