{% extends "layouts.html" %}
{% block css %}
{% endblock %}
{% block content %}
<!-- Page -->
<div class="page animsition">
  <div class="page-header">
    <h1 class="page-title"># 房屋管理</h1>
  </div>
  <div class="page-content">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">@ 新房详细信息 -> {{data.nhcData.title}}</h3>
      </div>
      <div class="panel-body">
        {% if data %}
          <blockquote>
            <p>* 基本信息</p>
          </blockquote>
          <blockquote>
            <p>小区：{{data.nhcData.community}}</p>
            <p>价格：¥{{data.nhcData.price}}</p>
            <p>展示价格：{{data.nhcData.show_price}}</p>
            <p>特点：{{data.nhcData.trait}}</p>
            <p>户型：{{data.nhcData.htype}}</p>
            <p>产权类型：{{data.nhcData.prtype}}</p>
            <p>面积：{{data.nhcData.area}}</p>
            <p>房屋类型：{{data.nhcData.house_type}}</p>
            <p>物业类型：{{data.nhcData.ptype}}</p>
            <p>地址：{{data.nhcData.address}}</p>
            <p>时间：{{data.nhcData.ctime|date('Y-m-d H:i')}}</p>
            <p>备注：{{data.nhcData.remark}}</p>
          </blockquote>
          <blockquote>
            <p>* 详细信息</p>
          </blockquote>
          <blockquote>
            {% for k,v in data.nhiData.k %}
            <p>{{data.nhiData.k[k]}} : {{data.nhiData.v[k]}}</p>
            {% endfor %}
          </blockquote>
          <blockquote>
            <p>* 置业顾问</p>
          </blockquote>
          <blockquote>
            <p><img src="{{data.pcData.head_portrait}}" style="width: 90px; height: 90px;"></p>
            <p>姓名：{{data.pcData.cname}}</p>
            <p>所属地产公司：{{data.pcData.belong_company}}</p>
            <p>手机号码：{{data.pcData.phone}}</p>
          </blockquote>
        {% else %}
          <blockquote>
            <p>暂无数据</p>
          </blockquote>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<!-- End Page -->
{% endblock %}
{% block js %}
{% endblock %}