{% extends "layouts.html" %}
{% block css %}

{% endblock %}
{% block content %}
<!-- Page -->
<div class="page animsition">
    <div class="page-header">
        <h1 class="page-title"># 房屋审核</h1>
    </div>
    <div class="page-content">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">@ 审核租房详细</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" >
                    <input type="hidden" name="tcid" value="{{ tcid }}">
                   
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">楼层</label>
                        <div class="col-sm-10">
                            <input type="text" readonly="readonly" class="form-control" name="tage" value="{{ data.tage }}楼" placeholder="请输入楼层">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3"  class="col-sm-2 control-label">面积</label>
                        <div class="col-sm-10">
                            <input type="text" readonly="readonly" class="form-control" name="area" value="{{ data.area }}㎡" placeholder="请输入面积">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">朝向</label>
                        <div class="col-sm-10">
                            <input type="text" readonly="readonly" class="form-control" name="orientation" value="{{ data.orientation }}" placeholder="请输入朝向">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">房屋类型</label>
                        <div class="col-sm-10">
                            <input type="text" readonly="readonly" class="form-control" name="htype" value="{{ data.htype }}" placeholder="请输入房屋类型">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">房屋配置</label>
                        <div class="col-sm-10">
                            <input type="text" readonly="readonly" class="form-control" name="hconfig" value="{{ data.hconfig }}" placeholder="输入房屋配置,以英文逗号隔开，如:洗衣机,空调,宽带...">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">房源概况</label>
                        <div class="col-sm-10">
                            <script id="container" name="general_situation" type="text/plain" style="height: 300px;">{% autoescape false %}{{ data.general_situation }}{% endautoescape %}</script>
                        </div>
                    </div>
                </form>
                 <div class="form-group">


                     <label for="inputPassword3" class="col-sm-2 control-label">选择职业顾问</label>
                        <div class="col-sm-10">
                           <li class="list-group-item">
                          <img src="{{ pcInfo.head_portrait }}" class="img-responsive" style="width: 90px; height: 90px;">
                          <div style="font-size: 20px;">{{ pcInfo.cname }}:({{ pcInfo.belong_company }})</div>
                          <div style="font-size: 20px;">{{ pcInfo.phone }}</div>
                        </li>
                        <a href="/admin/viewTenment/index"><button class="btn btn-success">返回</button></a>
                        </div>
                    </div>
            
            </div>
        </div>
    </div>
</div>
<!-- End Page -->
{% endblock %}
{% block js %}
<script src="/apps/admin/views/tenmentInfo/js/add.js"></script>
<script src="/public/ueditor/ueditor.config.js"></script>
<script src="/public/ueditor/ueditor.all.js"></script>
<script>
    var ue = UE.getEditor('container');
</script>
{% endblock %}