{% extends "layouts.html" %}
{% block css %}

{% endblock %}
{% block content %}
<!-- Page -->
<div class="page animsition">
    <div class="page-header">
        <h1 class="page-title"># 购房百科管理</h1>
    </div>
    <div class="page-content">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">@ 添加购房百科</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" id="houseCategoryForm" action="/admin/buyHouseCatagory/add/id/{{ data.id }}" method="post">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">图标 </label>
                        <div class="col-sm-10">
                            <div id="preview">
                                {% if data.icon_path %}
                                <img border="0" src="{{ data.icon_path }}" width="90" height="90" onclick="delIp('{{ data.icon_path }}');">
                                <input type="hidden" name="ipPath" value="{{ data.icon_path }}">
                                {% else %}
                                <img id="imghead" border="0" src="/apps/admin/views/assets/images/photo_icon.png" width="90" height="90" onclick="$('#previewImg').click();">
                                {% endif %}
                            </div>
                            <input type="file" onchange="previewImage(this)" style="display: none;" id="previewImg" name="icon_path">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">名称 </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="cname" placeholder="请输入购房百科名称" value="{{ data.cname }}">
                        </div>
                    </div>
                    {% if data.pid == 0 %}
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">父级名称 </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="pcname"  value="顶级" readonly>
                        </div>
                    </div>
                    {% else %}
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">父级名称 </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="pcname"  value="{{ data.pcname }}" readonly>
                        </div>
                    </div>
                    {% endif %}
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">排序 </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="sort" placeholder="排序？数字越小越靠前" value="{{ data.sort }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">提 交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Page -->
{% endblock %}
{% block js %}
<script src="/apps/admin/views/buyHouseCatagory/js/add.js"></script>
{% endblock %}