{% extends "layouts.html" %}
{% block css %}

{% endblock %}
{% block content %}
<!-- Page -->
<div class="page animsition">
  <div class="page-header">
    <h1 class="page-title"># 开发者信息</h1>
  </div>
  <div class="page-content">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title"></h3>
      </div>
      <div class="panel-body">
        <blockquote>
          <p>{{ websiteName }}</p>
        </blockquote>
        <blockquote>
          <p>开发团队：重庆存己科技</p>
        </blockquote>
        <blockquote>
          <p>技术维护：重庆存己科技</p>
        </blockquote>
        <blockquote>
          <p>联系人：赵先生</p>
        </blockquote>
        <blockquote>
          <p>联系电话：18423031898</p>
        </blockquote>
      </div>
    </div>
  </div>
</div>
<!-- End Page -->
{% endblock %}
{% block js %}

{% endblock %}