{% extends "layouts.html" %}
{% block css %}
{% endblock %}
{% block content %}
<!-- Page -->
<div class="page animsition">
  <div class="page-header">
    <h1 class="page-title"># 房屋管理</h1>
  </div>
  <div class="page-content">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">@ （{{ data.title }}）二手房详细信息</h3>
      </div>
      <div class="panel-body">
        {% if data == '' %}
        没有添加数据
        {% else %}
        <ul class="list-group list-group-bordered">
        <li class="list-group-item"><h4>详细信息</h4></li>
        <li class="list-group-item">=
        <table style="font-size: 20px;">
          <br><tr>小　　区:：</tr><tr>{{ data.community }}</tr></br>
          <br><tr>单　　价:：</tr><tr>{{ data.unit_price }}</tr></br>
          <br><tr>楼　　层:：</tr><tr>{{ data.tage }}</tr></br>
          <br><tr>朝　　向:：</tr><tr>{{ data.orientation }}</tr></br>
          <br><tr>类　　型:：</tr><tr>{{ data.type }}</tr></br>
          <br><tr>装　　修:：</tr><tr>{{ data.upfitter }}</tr></br>
          <br><tr>年　　代:：</tr><tr>{{ data.era }}</tr></br>
          <br><tr>发布时间:：</tr><tr>{{ data.ctime }}</tr></br>
          <br><tr>轨　　交:：</tr><tr>{{ data.rail_transit }}</tr></br>
          <br><tr>核心卖点:：</tr><tr>{{ data.selling_points }}</tr></br>
        </table>
        </li>
        {% for k,v in data.k %}
          <li class="list-group-item">{{ data.k[k] }} : {{ data.v[k] }}</li>
        {% endfor %}
        <li class="list-group-item"><h4>置业顾问</h4></li>
        <li class="list-group-item">
          <img src="{{ pcInfo.head_portrait }}" class="img-responsive" style="width: 90px; height: 90px;">
          <div style="font-size: 20px;">{{ pcInfo.cname }}</div>
          <div style="font-size: 20px;">{{ pcInfo.phone }}</div>
          <div style="font-size: 20px;">{{ pcInfo.belong_company }}</div>
          
        </li>
        </ul>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<!-- End Page -->
{% endblock %}
{% block js %}
{% endblock %}

