{% extends "layouts.html" %}
{% block css %}

{% endblock %}
{% block content %}
<!-- Page -->
<div class="page animsition">
  <div class="page-header">
    <h1 class="page-title"># 关于我们</h1>
  </div>
  <div class="page-content">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">@ 关于我们列表</h3>
      </div>
      <div class="panel-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>内容</th>
              <th>录入时间</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
          {% if data %}
          {% for k,v in data %}
            <tr>
              <td>
              </td>
              <td>{% autoescape false %}
              {{ v.content }} 
            {% endautoescape %}</td>
              <td>{{ v.ctime|date("Y-m-d H:i") }}</td>
              <td>
                <button type="button" class="btn btn-primary btn-xs" onclick="edit('{{ v.id }}');">修改内容</button>
                <button type="button" class="btn btn-default btn-xs" onclick="del('{{ v.id }}');">删除</button>
              </td>
            </tr>
          {% endfor %}
          {% else %}
            <tr>
              <td colspan="4">
                <blockquote>
                  <p>暂无数据 :(</p>
                </blockquote>
              </td>
            </tr>
          {% endif %}
          </tbody>
        </table>

          <div style="float: right;">
            {% autoescape false %}
              {{ page }}
            {% endautoescape %}
          </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}

<script src="/apps/admin/views/about/js/index.js"></script>

{% endblock %}
